<div id="logo">
   <h1><a href="/">
      <img src="images/logo2.png" alt="ARKTIK vodoinstalacije"/>
   </a></h1>
</div>

<div id="divOznKategorije">
   <h2 id="oznKategorije">Odaberite kategoriju...</h2>
</div>

<div id="poljeKosarice">
   <a href="cart">
      <img src="images/cart.png" alt="KOŠARICA"/>
      <div id="ukArtikala"></div>
   </a>
   <a href="https://youtu.be/dQw4w9WgXcQ?si=nCkHkeS_jJ0i0DCf">
      <img src="images/search.png" alt="PRETRAGA"/>
   </a>
</div>