<!DOCTYPE html>
<html lang="hr">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>ARKTIK vodoinstalacije</title>
   <link rel="icon" type="image/x-icon" href="images/logo.png">
   <link rel="stylesheet" href="styles/index.css">
   <script src="scripts/funkcije.js"></script>
</head>

<body>
   <%- include('partials/header') %>

   <div id="lijevaTraka">
      <div id="izbornik">
      </div>

      <script>
         ukBrArtikala();
         ucitajKategorije();         
      </script>
   
      <div id="linkovi">
         <a href="">Kontakt</a>
         <a href="">Newsletter</a>
         <a href="">Pretplati se</a>
      </div>
   </div>
  
   <div id="pozadina">
      <div id="pozdravniTekst"><p>Za sva Vaša kupaonska pitanja!</p></div>
   </div>

   <div id="artikli">
   </div>

   <%- include('partials/footer') %>

</body>
</html>